@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #424242;
    
}
body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   
    
}
.app_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
     

}

.app_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app_logo .app_title{
    margin-right: 15px;
}

.app_title2{
    display: none;
}

.app_links{
    list-style: none;
    display: flex;
    flex-direction: row;

}
.app_links li{
    margin-right: 1.5rem;
    font-size: 14px;
    font-weight: 500;
}

.app_links li.active{
    color: #5A47AB;
    font-size: 14px;
    font-weight: 600;
}

.app_showcase{
    display: flex;
    margin: 5rem 0;

}

.app_showcase_info{
    flex: 6;
  
}

.app_showcase_info h1,h3{
    font-size: 52px;
    margin: 0;
}
.app_showcase_info h1{
    color: #D05270;
    font-weight: bold;
    font-size: 52px;
    margin: 0;
}

.app_showcase_info h3{
    font-weight: 500;
    font-size: 52px;
    margin: 0;
}

.app_showcase_info p{
    font-size: 18px;
    font-weight: 400;
}

.app_left_image{
    flex: 4;
    padding: 0 3rem;
}

.app_links_container{
    position: absolute;
    opacity: 0;
    left: 0%;
    top: 10%;
    width: 100%;
    height: 0%;
    background-color: #fff;
    transition: height 250ms ease-in-out;
}
.app_links .app_link{
    color: #fff;
    font-size: 12px;
    width: 30%;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.app_links{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.app_blog_categories{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.app_blog_categories .item{
    font-weight: 500;
    font-size: 18px;
    margin-right: 2rem;
    cursor: pointer;
}

.app_blog_categories :nth-child(1){
    color: #D05270;
    font-weight: bold;
    font-size: 24px;
    margin-right: 2rem;
    cursor: pointer;
    border-bottom: 1px solid #D05270;
    padding-bottom: 0.5rem;
    padding:0 1rem ;

}

.app_post_list{
 display: grid;
 grid-template-columns: 1fr 1fr;
 }

.app_post_list .app_post_card{
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 0 2rem;
    margin: 3rem 0;
justify-content: space-between;    
   

}

.post_image{
    width: 590px;
    height: 415px;
}

.app_post_list .app_post_card .post_image{
    height: 400px;

}

.app_post_list .app_post_card .post_date{

    font-size: 14px;
    font-weight: 600;
    margin: 0.5rem 0;
}

.app_post_list .app_post_card .post_title{
    font-size: 24px;
    font-weight: 600;
    color: #D05270;
    margin: 0.5rem 0;
}

.app_post_list .app_post_card .post_info{
    font-weight: 400;
    margin: 0.5rem 0;
}

.app_post_list .app_post_card .post_link{
    font-size: 18px;
    font-weight: 500;
    color: #D05270;
   text-decoration: none;
   border-bottom: 1px solid #D05270;
   padding-bottom: 5px;
   width: fit-content;
   margin-top: 2rem;

}

footer{
    position: relative;
    text-align: center;
    margin: 5rem 0;
}

.menu_collapse{
    display: none;
}

@media only screen and (max-width: 850px) {

    body{
        width: 90%;
        margin: auto;
    }

    .app_links_container{
        display: none;
        position: absolute;
        width: 100%;
        height: 0%;
        left: 0;
        top: 10%;
        background-color: #fff;
        transition: height 500ms ease-in-out;
        
    }


    .menu_collapse{
        display: block;
    }

    .app_title2{
        display: block;
    }

    .app_title{
        display: none;
    }


    .app_showcase{
        display: flex;
        margin: 5rem 0;
    
    }
    
    .app_showcase_info{

        padding: 0;
    }

    .app_left_image{
        display: none;
    }
    
    .app_showcase_info h1,h3{
        font-size: 20px;
        margin: 0;
        color: #D05270;
        font-weight: bold;
      
    }
        
    .app_showcase_info h3{
        color: #424242;
        font-weight: 500;
        font-size: 52px;
        margin: 0;
    }
    
    .app_showcase_info p{
        font-size: 12px;
        font-weight: 400;
    }

    .app_links .app_link{
        font-size: 12px;
        font-weight: 500;
 
    }
    
    .app_links{
        display: none;
        z-index: 1;
        flex-direction: column;

    }

 
    .app_links li{
        margin-right: 1.5rem;
        font-size: 14px;
        font-weight: 500;
    }
    
    .app_links li.active{
        color: #5A47AB;
        font-size: 14px;
        font-weight: 600;
    }
    
    .app_blog_categories{
        overflow: auto;
    }

    .app_blog_categories .item{
        font-weight: 500;
        font-size: 12px;
        margin-right: 2rem;
        white-space: nowrap;
    }

    .app_post_list .app_post_card{
    
        margin: 1rem 0;
    }
    
    .app_post_list{
        display: flex;
        flex-direction: column;
       }

    .app_post_list .app_post_card .post_image{
        height: 200px;
        width: max-content;
    }
    
    .app_post_list .app_post_card .post_date{
    
        font-size: 10px;
        font-weight: 600;
    }
    
    .app_post_list .app_post_card .post_title{
        font-size: 20px;
    }
    
    .app_post_list .app_post_card .post_info{
        font-weight: 400;
        font-size: 14px;
    }
    
    .app_post_list .app_post_card .post_link{
        font-size: 14px; 
    }
    
 }    